//
//  DebugConfig.xcconfig
//  ExampleSwift
//
//  Created by Jonathan Scaramal on 17/12/2020.
//  Copyright © 2020 Juan Sebastian Sanzone. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Use this file as example to generate needed config files

//PX Environment - [alpha | beta | prod]
PX_ENVIRONMENT=beta

// Collector public key
PX_COLLECTOR_PUBLIC_KEY=TEST-a463d259-b561-45fe-9dcc-0ce320d1a42f

// Payer private key
PX_PAYER_PRIVATE_KEY=TEST-982391008451128-040514-b988271bf377ab11b0ace4f1ef338fe6-737303098
