//
//  DebugConfig.xcconfig
//  ExampleSwift
//
//  Created by Jonathan Scaramal on 17/12/2020.
//  Copyright © 2020 Juan Sebastian Sanzone. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Use this file as example to generate needed config files

//PX Environment - [alpha | beta | prod]
PX_ENVIRONMENT=beta

// Collector public key
PX_COLLECTOR_PUBLIC_KEY=TEST-d1a694aa-b0ee-4dd2-8326-79b1d53a676c

// Payer private key
PX_PAYER_PRIVATE_KEY=TEST-3792603160086480-033021-54e7ad29181cdcd4da6e7eb49d73f53d-139274850
